@import "vars"

*
  margin 0
  padding 0
  box-sizing border-box

html, body
  widht 100%
  height 100%
  font-size 14px
  background white_color
  color black_color

a
  display block
  outline none

h1
  font-size 16px

fieldset
  border none

.date
  font-size 14px
  color blue_color